
@{
    ViewBag.Title = "Hủy thành công";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Đã hủy đặt phòng thành công</h2>
<p>Cảm ơn bạn đã hủy đặt phòng. Đơn đặt phòng của bạn đã được hủy.</p>


